*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header layout */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: #fff;
    
}
.logo img{
    width: 140px;
}


.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.nav-items a{
    text-decoration: none;
    color: black;

}

.primary-btn{
    background-color: #0a2d51;
    color: white;
    padding: 10px 45px;
    border-radius: 5px;
    text-decoration: none;
}


